body {
    background-color: #050505;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#fire-stage {
    font-size: 10px;
    line-height: 8px;
    white-space: pre;
    user-select: none;
    cursor: default;
    font-weight: bold;
    margin-top: -330px;
}
